.list-unstyled{
    display: flex;
    flex-direction: column;
}
.card-button{
    text-align: center;
}
.button{
    
    width: 8rem;
}
.cards{
    border: rgb(129, 129, 128) solid 1px;
    width: 65% ;
}
.category{
    overflow-x:scroll;
    overflow-y:hidden;
    border:1px solid black;
    display: flex;
}
@media only screen and (max-width: 700px) {
    .cards {
      width: auto;
    }
  }