* {
  margin: 0;
}
body {
  background-color: whitesmoke;
}
.userContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.userHead {
  color: cornflowerblue;
  font-size: 40px;
  margin: 10px;
}
.userlink {
  text-decoration: none;
}
.userCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: lightslategray 2px dotted;
  border-radius: 15px 50px;
  background-color: lightgrey;
  color: darkslategray;
  padding: 30px;
  margin: 30px;
}
.userLink > img {
  margin-top: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.profileContainer {
  box-shadow: 0 30px 6px -6px rgb(80, 76, 76);
  margin-left: auto !important;
  margin-right: auto !important;
  width: 60%;
  margin: 10px;
  border: skyblue 2px solid;
  padding: 15px;
  background-color: rgb(177, 199, 221);
  border-radius: 10px 15px;
}
.profileData > div > img {
  border-radius: 20%;
  margin-right: 12px;
  object-fit: cover;
  margin: 10px;
  width: 200px;
}
.profileData {
  display: flex;
  text-align: center;
}
.profileData > p {
  margin: 15px;
}
.calender {
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 1000px) {
  .profileData {
    display: flex;
    flex-direction: column;
  }
}
